<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Media Compression App</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            text-align: center;
            margin-top: 100px;
        }

        h1 {
            color: #333;
        }

        button {
            padding: 10px;
            margin: 20px;
            background-color: #4CAF50;
            color: white;
            border: none;
            cursor: pointer;
            font-size: 16px;
        }
    </style>
</head>
<body>

<h1>Choose Media Type to Compress</h1>

<button onclick="redirectTo('image')">Compress Image</button>
<button onclick="redirectTo('video')">Compress Video</button>

<script>
    function redirectTo(mediaType) {
        if (mediaType === 'image') {
            window.location.href = 'http://localhost:5000/image';
        } else if (mediaType === 'video') {
            window.location.href = 'http://localhost:5000/video';
        }
    }
</script>

</body>
</html>
